.icon {
  font-size: 3rem;
  padding: 1rem 0;
}

.container {
  composes: greyBackground from '../../../../css/colors.css';
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 540px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .header {
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
